<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<footer class="fixed-bottom bg-light p-3" th:fragment="footer">
    <div class="container-fluid">
        <div class="row">
            <span class="text-muted">2017 digispike.com</span>
        </div>
    </div>
</footer>

<th:block th:fragment="sources">
    <!--jquery js-->
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
    <!--popper js-->
    <script src="webjars/popper.js/1.11.1/dist/umd/popper.min.js"></script>
    <!--bootstrap js-->
    <script src="webjars/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <!--custom scripts-->
    <script src="js/scripts.js"></script>
</th:block>
</body>
</html>