<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Digispike Signup Page</title>
</head>
<body>

<div class="container py-4" th:fragment="content">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success" role="alert" th:text="${message}"></div>
            <form th:action="@{/signup}" method="post">
                <div class="form-group">
                    <label for="inputUsername" class="sr-only">Username</label>
                    <div class="input-group">
                        <span class="input-group-addon bg-transparent"><i class="fa fa-user-o"></i></span>
                        <input type="text" class="form-control" id="inputUsername" placeholder="Username" name="username"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <div class="input-group">
                        <span class="input-group-addon bg-transparent"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputVerifyPassword" class="sr-only">Verify Password</label>
                    <div class="input-group">
                        <span class="input-group-addon bg-transparent"><i class="fa fa-unlock-alt"></i></span>
                        <input type="password" class="form-control" id="inputVerifyPassword" placeholder="Verify Password"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input"/>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description small">I agree to <a href="#">Digispike terms.</a></span>
                    </label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>